#principal{
	width: 1350px;
	height: auto; overflow: hidden;
	border: 0px solid #000;
	margin: auto;

}

header{
	width: 900px;
	height: 0px;
	border: 0px solid #000;
}

#logo{
	width: 150px;
	height: 100px;
	border: 0px solid #000;
	float: left; 
}

.titulo{
	margin-top: 0px;
	font-size: 0px;
}

.sub-titulo{
	font-size: 0px;
	margin-top: 0px;
}

.menu{
	width: 900px;
	height: 30px;
	border: 0px solid #ccc;
	float: center;
	margin-top: 0px;
	background: #006699;
}

.menu ul{}

.menu ul li{
	list-style: none;
	float: left;
}

.menu ul li a{
	text-decoration: none;
	padding: 0px 15px;
	border: 0px solid #ccc;
	color: #fff; 
}

.menu ul li a:hover{
	bottom: blue;
	color: #006699;
	transition: background 0s, color 0s;
}

#slide{
	margin-top: 0px;
	width: 0px;
	height: 0px;
}

#categorias{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin-top: 1px;
}

.uno{
	width: 400px ;
	height: 350;
	border: 1px solid #ccc;
	float: left;
	padding: 2px;
	text-align: center;
	color: #4682b4;
}

.parrafo{
	color: #707070;
	text-align: justify;
}
.dos{
	margin-left: 12px;
	margin-right: 12px;
}

.leer-mas{
	text-decoration: none;
	border: 1px solid #006699;
	padding: 10px 20px 10px 20px;
	margin-bottom: 10px;
}

.leer-mas:hover{
	background: #006699;
	color: #fff;
	transition: background 1s, color 1s;
}


#info{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid #c0c0c0;
	margin-top: 10px; color: 
}

#izq{
	width: 585px;
	height: auto; overflow: hidden;
	border: 1px solid #ccc;
	float: left;
	padding: 5px; color: #4682b4;
}

.img{
	margin-right: 7px;
	margin-bottom: 7px;
}


#der{
	width: 290px;
	height: 300px;
	border: 1px solid #ccc;
	float: right;
	color: 
}
.redessociales{
	height: 200px;
	background-color: #84acbf;
	padding: 30px;

}
.redessociales h2{
	font-family: gabriola;
	text-align: center;
	font-weight: bold;
	}
.SOCIALES{
	text-align: center;
	padding-top: 40PX;
	padding-bottom: 40PX;
	}

.SOCIALES li{
	display: inline-block;
	}
footer{
	width: 900px;
	height: 100px;
	text-align: center;
}

#footer p{
	width: 00px;
}

